git 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <app-barra-de-nav></app-barra-de-nav>

<div class="container">
    <div class="row">
        <div class="col-8"><h3>Muebles</h3></div>
        <div class="col-4"><button class="btn btn-primary">Ver mas</button></div>  
    </div>
    <div class="row">    
        <div class="col-sm-12 col-lg-3 " style="margin-right: 10px;">
            <app-item></app-item>  
        </div>
        <div class="col-sm-12 col-lg-3 " style="margin-right: 10px;">
            <app-item></app-item>  
        </div>
        <div class="col-sm-12 col-lg-3 " style="margin-right: 10px;">
            <app-item></app-item>  
        </div>         
    </div>   
    <div class="row">
        <div class="col-8"><h3>Electrodomesticos</h3></div>
        <div class="col-4"><button class="btn btn-primary">Ver mas</button></div>  
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12" style="margin-right: 10px;">
            <app-item></app-item>   
        </div>
        <div class="col-lg-3 col-sm-12" style="margin-right: 10px;">
            <app-item></app-item>  
        </div>
        <div class="col-lg-3 col-sm-12" style="margin-right: 10px;">
            <app-item></app-item>  
        </div>
                    
    </div>
    <div class="row">
        <div class="col-8"><h3>Herramientas</h3></div>
        <div class="col-4"><button class="btn btn-primary">Ver mas</button></div>  
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12" style="margin-right: 10px;">
            <app-item></app-item>   
        </div>
        
        <div class="col-lg-3 col-sm-12" style="margin-right: 10px;">
            <app-item></app-item>  
        </div>
        <div class="col-lg-3 col-sm-12" style="margin-right: 10px;">
            <app-item></app-item>  
        </div>
         
    </div>
   <h1>Un comentario</h1> 
</div>
</body>
</html>




















